.reviews{
  padding-bottom: 51px;
        &__item{
          display: flex;
          flex-direction: row;
          margin-top: 70px;
        }
        &__img{
          width: 169px;
          height: 169px;
        }
        &__content{
        margin-bottom:30px ;
        margin-left: 62px;
        width: 656px;
        text-align: left;
        color: #0d0d0d;
      
        }
        &__name{
          font-size: 18px;
          font-weight: 700;
        }
        &__count{
          color: #646464;
          font-size: 14px;
          font-weight: 300;
          text-align: left;
          margin-top: 5px;
        }
        &__text{
          font-size: 15px;
          font-weight: 300;
          margin-top: 19px;

        }

}

