.title {
  display: block;
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  &_left {
    color: #0d0d0d;
    font-size: 36px;
    text-align: left;
  }
}
